version: "3.9"
services:
    web:
        restart: always
        build: .
        command: >
            bash -c "
            python manage.py migrate &&
            gunicorn online_school.wsgi:application --bind 0.0.0.0:8000
            "
        ports:
            - "8000:8000"
        env_file:
            - .env
        depends_on:
            db:
                condition: service_healthy
            redis:
                condition: service_started
        networks:
            - app_network
    db:
        hostname: db
        restart: always
        image: postgres:17
        env_file:
            - .env
        healthcheck:
          test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USER" ]
          interval: 30s
          timeout: 10s
          retries: 5
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - app_network
    redis:
        restart: always
        image: redis:7
        env_file:
            - ./.env
        volumes:
            - redis_data:/data
        networks:
            - app_network
    celery:
        restart: always
        build: .
        command:
            celery -A online_school worker -l INFO
        env_file:
            - .env
        depends_on:
            - db
            - redis
        networks:
            - app_network

    celery_beat:
        restart: always
        build: .
        command:
            celery -A online_school beat --loglevel=INFO
        env_file:
            - .env
        depends_on:
            - celery
            - redis
        networks:
            - app_network
networks:
    app_network:

volumes:
    postgres_data:
    redis_data:
