version: "3.9"
services:
    web:
        build: .
        command: >
            bash -c "
            python manage.py migrate &&
            python manage.py runserver 0.0.0.0:8000
            "
        ports:
            - "8000:8000"
        env_file:
            - .env
        volumes:
            - .:/lms
        depends_on:
            db:
                condition: service_healthy
            redis:
                condition: service_started
        networks:
            - app_network
    db:
        image: postgres:17
        env_file:
            - .env
        ports:
          - "5433:5432"
        healthcheck:
          test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USER" ]
          interval: 30s
          timeout: 10s
          retries: 5
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - app_network
    redis:
        image: redis:7
        ports:
            - "6379:6379"
        env_file:
            - ./.env
        volumes:
            - redis_data:/data
        networks:
            - app_network
    celery:
        build: .
        command:
            celery -A online_school worker -l INFO
        env_file:
            - .env
        volumes:
            - .:/lms
        depends_on:
            - db
            - redis
        networks:
            - app_network

    celery_beat:
        build: .
        command:
            celery -A online_school beat --loglevel=INFO
        env_file:
            - .env
        volumes:
            - .:/lms
        depends_on:
            - celery
            - redis
        networks:
            - app_network
networks:
    app_network:

volumes:
    postgres_data:
    redis_data:
